
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

li{

    font-size:  45px;
}

.navigationBar {
    
       background-color: #A4D8CC;
       display: flex;
       flex-wrap: wrap;
       height: 123px;
       
       justify-content: space-around;
   }
   
.navItem1{
    width: 60px;
    height: 60px;
    }


.navItem1 img{
    max-width: 100%;
    max-height: 100%;
   }

.Menu:link { text-decoration: none; }

.Menu:visited { text-decoration: none; }

.Menu:hover { text-decoration: none; }

.Menu:active { text-decoration: none; }

@media (max-width: 420px) {
 }