
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

li{

    font-size:  25px;
}

.logo{
    width: 30px;
    height: 30px;
}





@media (max-width: 420px) {
 }