body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.headerImageSection {
    /* Remove the styles for section and apply them only to the headerImageSection */
    display: grid;
    place-items: center;
    align-content: center;
    align-items: center;
    /* min-height: 100vh; */
    width: 90%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the section horizontally */
    border-bottom: 20px solid #DA0C0C; /* Add solid red border to the bottom of the section */
}

.bookstore-contact-text{
    /* background-color: #F9F3E7; */

    background-color: #FFD7A2;
    border-radius: 50px;
    padding: 20px;
}


.bookstore-contact-text h2{
    /* background-color: #F9F3E7; */
    border-bottom: 4px solid #DA0C0C;
  
}

.bookstore-contact-text p{
    /* background-color: #F9F3E7; */
    margin-bottom: 20px; /* Add space below each line within the paragraph */
    line-height: 1.5; /* Adjust line height to add spacing between lines */

  
}
.PageTitle{
    display: grid;
    place-items: center;
    align-content: center;
    align-items: center;
    margin: 0 auto; /* Center the section horizontally */
    font-size: 34px;

}


.PageTitle h2{

    border-bottom: 4px solid #DA0C0C;

}
.HeaderImage {
    width: 90%; /* Ensure the image takes the full width of the container */
    height: auto; /* Maintain the aspect ratio */
    /* Other styles for the header image */
}


/* input[type=submit]:hover {
  background-color: #45a049;
} */
.formContainer h2{
    border-bottom: 4px solid #DA0C0C;
}
.formContainer legend{
    font-size: 24px;
    border-bottom: 4px solid #DA0C0C;
    margin-bottom: 40px;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  
input[type=tel], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
input[type=submit] {
    background-color: #DA0C0C;
    color: #f0f0f0;
    padding: 8px 80px;
    text-align: center;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    margin: auto; /* Center horizontally */
  
  }


input[type=submit]:hover {
    background-color: #8c0808; /* Darker color on hover */
}
.blueBackground {
    background-color: #82c2c270;
    padding: 20px; /* Add padding for better appearance */
    border-radius: 30px;
}

.DrawingReading img {
    max-width: 100%;
    height: auto;
}

.formContainer {
    margin-left: 20px; /* Adjust spacing between image and form */
}

.PersonalInfo {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    margin-bottom: 10px; /* Adjust spacing between rows */
}

.column {
    flex: 1;
    margin-right: 10px; /* Adjust spacing between columns */
}

label {
    margin-bottom: 5px; /* Adjust spacing between label and input */
}
